doctype html 
html
  head
    <link rel="shortcut icon" href="../static/logos/logo.png" type="image/x-icon">
    title Academy name|best dancing academy
    block scripts 
    block  style 
body
  nav#navbar
    ul
      li: a(href="/") Home 
      li: a(href="/") About us 
      li: a(href="/") Services 
      li: a(href="/") Classes Info 
      li: a(href="/contact") Contact Us  
  block content
  footer#footer 
    p.center Copyright&copy; all rights reserverd by Naman Jain
    
      